/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7d574d;
  --ifm-color-primary-dark: #704a42;
  --ifm-color-primary-darker: #643e38;
  --ifm-color-primary-darkest: #58322e;
  --ifm-color-primary-light: #896458;
  --ifm-color-primary-lighter: #957163;
  --ifm-color-primary-lightest: #a27e6f;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b77c6c;
  --ifm-color-primary-dark: #aa6e61;
  --ifm-color-primary-darker: #9d6056;
  --ifm-color-primary-darkest: #90524b;
  --ifm-color-primary-light: #c48a78;
  --ifm-color-primary-lighter: #d19984;
  --ifm-color-primary-lightest: #dea891;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.steps {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 20px;
}

.steps img {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .steps {
    grid-template-columns: 100%;
  }
  
  .steps img,
  .steps p {
    margin-bottom: 20px;
  }
}


/* Carroussel */
.carousel-container {
  position: relative;
  height: 400px;
  max-width: 600px;
  overflow: hidden;
}

.carousel-container p {
  display: flex;
  margin: 0;
  padding: 0;
}

.carousel-container p img {
  width: auto;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.carousel-container:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 60px;
  border-left: 14px solid var(--ifm-color-primary-lightest);
  border-right: 14px solid var(--ifm-color-primary-lightest);
  z-index: 10000;
}


.carousel-container img:first-child:nth-last-child(2),
.carousel-container img:first-child:nth-last-child(2)  ~ img {
  animation: rotate-2 10s linear infinite;
}

.carousel-container:hover img:first-child:nth-last-child(2),
.carousel-container:hover img:first-child:nth-last-child(2) ~ img {
  animation-play-state: paused;
}

.carousel-container img:first-child:nth-last-child(3),
.carousel-container img:first-child:nth-last-child(3) ~ img {
  animation: rotate-3 15s linear infinite;
}


.carousel-container:hover img:first-child:nth-last-child(3),
.carousel-container:hover img:first-child:nth-last-child(3) ~ img {
  animation-play-state: paused;
}

.carousel-container img:first-child:nth-last-child(4),
.carousel-container img:first-child:nth-last-child(4) ~ img {
  animation: rotate-4 20s linear infinite;
}

.carousel-container:hover img:first-child:nth-last-child(4),
.carousel-container:hover img:first-child:nth-last-child(4) ~ img {
  animation-play-state: paused;
}

.carousel-container img:first-child:nth-last-child(5),
.carousel-container img:first-child:nth-last-child(5) ~ img {
  animation: rotate-5 25s linear infinite;
}

.carousel-container:hover img:first-child:nth-last-child(5),
.carousel-container:hover img:first-child:nth-last-child(5) ~ img {
  animation-play-state: paused;
}

.carousel-container img:first-child:nth-last-child(6),
.carousel-container img:first-child:nth-last-child(6) ~ img {
  animation: rotate-6 30s linear infinite;
}

.carousel-container:hover img:first-child:nth-last-child(6),
.carousel-container:hover img:first-child:nth-last-child(6) ~ img {
  animation-play-state: paused;
}


@keyframes rotate-2 {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(calc(-200%));
  }
}

@keyframes rotate-3 {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(calc(-300%));
  }
}

@keyframes rotate-4 {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(calc(-500%));
  }
}

@keyframes rotate-5 {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(calc(-600%));
  }
}

@keyframes rotate-6 {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(calc(-700%));
  }
}

/*
prevent the box from extending past the page width,
creating a scrollable window around only the diagram.
*/
.docusaurus-mermaid-container {
  max-width: 100%;
  overflow-x: auto;
}

/* 
Assume that the gantt chart will be made very short
during scaling, so set a minimum height. Ensure that
the width adjusts to compensate.
*/
.docusaurus-mermaid-container svg[aria-roledescription="gantt"] {
  min-height:600px;
  width: auto;
}